@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Guide published on my <a href="http://adamsimsy.com/2020/03/29/publish-a-aspnet-core-web-app-to-azure-using-github-actions/">blog</a> and example repo on <a href="https://github.com/Adamsimsy/aspnetcore-github-actions-publish-to-azure">Github</a></p>
</div>
